body{
    margin: 0px;
}

/* Mobile Screen*/
@media screen and (max-width: 40em){
    main{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "header header"
        "nav nav"
        "map map"
        "footer footer"
    }
    header{
        height: 5vh;
        grid-area: header;
        background: lightslategrey;
    }
    nav{
        height: 5vh;
        grid-area: nav;
        background: lightslategrey
    }
}

/* Desktop Screen*/
@media screen and (min-width: 40em){
    main{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas:
        "header nav"
        "map map"
        "footer footer"
    }
    header{
        height: 10vh;
        grid-area: header;
        background: lightslategrey;
    }
    nav{
        height: 10vh;
        grid-area: nav;
        background: lightslategrey;
    }
}

map{
    height: 85vh;
    grid-area: map;
}

.modal-content{
    background: lightgray;
    margin: 5% auto 15% auto;
    width: 80%;
}

.container{
    padding: 16px;
}

.form-modal#modalLogIn{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.form-modal#modalUpdateAdress{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.form-modal#modalNewAddress{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

input[type=text],input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.form-button{
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;

}

.nav-button{
    width: 10em;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;

}

footer{
    height: 5vh;
    grid-area: footer;
    background: lightslategrey;
}